<h1>Stupid Coaching</h1>

<form action="/answer" method="get">
  <label for="fname">Ask your coach anything</label><br>
  <input type="text" id="fname" name="question"><br>
  <input type="submit">
</form>

